body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
    flex-direction: column;
    font-family: sans-serif;
}
.light{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 217, 255);
    color: white;
}
.dark{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(2, 44, 79);
    color: white;
}

#p{
    font-size:30px;
}

